body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #91ca8c;
}

.kontejner {
    display: grid;
    height: 100vh;

     grid-template-areas:
        "hlavicka hlavicka"
        "menu obsah"
        "paticka paticka";

    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 200px 1fr;  
}

.hlavicka { 
    grid-area: hlavicka; 
    background-color: #255321;
    padding: 20px;
    color:white;
}

.menu { 
    grid-area: menu; 
    background-color: #618f61;
    padding: 10px;
    font-size: 20px;
}



.obsah { 
    grid-area: obsah; 
    background-color: #4e452a;
    padding: 20px;
}
.paticka { 
    grid-area: paticka; 
    background-color: #255321;
    color: white;
    padding: 10px;
    text-align: center;
}

.obsah {
    display: grid;
    place-items: center; /* Vystředí vše doprostřed (vertikálně i horizontálně) */
    gap: 20px; /* Mezera mezi tlačítkem a boxem na výsledek */
    font-size: 25px;
}

.zvyrazneny-vysledek {
    color: #255321;
    background-color: #e0d5b4; /* Zelená */
    transform: scale(1.1); /* Zvětšení */
    transition: 0.3s; /* Animace */
    font-size: 20px;
}

#hl-tlacitko {
    border: 3px solid rgb(24, 85, 0); 
    color: rgb(255, 255, 255); 
    font-size: 15px;
    background-color: #618f61;
}

#vysledek-img {
    border: 3px solid rgb(24, 85, 0); 
    background-color: #618f61;
}